* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#play-field {
  position: relative;
  width: 75vw;
  height: 75vh;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 150px 0;
}

ul {
  list-style-type: none;
  text-align: center;
}
.card {
  border: 3px solid blue;
  width: 100px;
  height: 150px;
  text-align: center;
}

button {
  position: absolute;
  width: 75px;
}

.container {
  width: 200px;
  display: flex;
  justify-content: space-between;

  
}

#score {
  height: 200px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin: 15px 0;

}